@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply relative bg-grad text-body-1;
  }
}

@layer components {
  .text_variant_h2 {
    @apply font-title text-[2.8rem] leading-[3rem];
  }

  .text_variant_caption {
    @apply font-body text-sm leading-[26px] text-body-1;
  }

  .text_medium_header {
    @apply font-title text-[1.7rem] font-normal leading-[2rem];
  }
  .text_small_header {
    @apply font-title text-[1.2rem] font-normal leading-[20.59px];
  }

  .text_regular_body_p {
    @apply text-[0.8rem]  font-[300] leading-[26px] text-[#333333];
  }

  .text_small_body_p {
    @apply text-[0.78rem]  font-[300] leading-[22px] text-[#333333];
  }

  .footerlink_header {
    @apply font-sub-title text-[1rem] leading-[18.6px] text-white;
  }

  .footerlink_sub {
    @apply text-[0.9rem] text-[rgba(255,_255,_255,_0.8)] hover:text-white;
  }
}
