@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply relative bg-grad text-body-1;
  }
}

.body_on_center_layout {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

.activate-cursor {
  pointer-events: all !important;
}

@layer components {
  .leftsidebar {
    @apply sticky left-0 top-0 z-20 flex h-screen w-[22%] flex-col overflow-auto bg-secondary-black px-6 py-4 max-lg:hidden;
  }

  .topbar {
    @apply flex h-[8vh] w-full items-center justify-between gap-4 bg-white px-6 shadow-navbar;
  }

  .main-container {
    @apply flex flex-1 flex-col bg-[#F7F8FA] p-6 max-md:pb-32 sm:px-10;
  }

  .text_variant_h2 {
    @apply font-title text-[1.8rem] leading-[2.2rem] text-black lg:text-[2.8rem] lg:leading-[3rem];
  }
  .text_variant_h3 {
    @apply font-title text-[2.2rem] leading-[3rem] text-black;
  }

  .text_large_header_b {
    @apply font-body text-[1.5rem] font-[700] text-black;
    letter-spacing: -0.48px;
  }

  .text_variant_caption {
    @apply font-body text-sm leading-[26px] text-body-1;
  }

  .text_medium_header {
    @apply font-title text-[1.7rem] font-normal leading-[2rem];
  }
  .text_small_header {
    @apply font-title text-[1.3rem] font-normal leading-[20.59px];
  }

  .text_large_body_p {
    @apply font-body text-[.9rem] font-[300] leading-[1.8rem] text-body-1 lg:text-[1rem] lg:leading-[2rem];
  }

  .text_large_body_r {
    @apply font-body text-[.89rem] font-[300] leading-[1.5rem] text-body-1 lg:text-[1rem] lg:leading-[2rem];
  }

  .text_medium_body_p {
    @apply font-body text-[0.85rem] font-[300] leading-[1.6rem] text-body-1 lg:text-[0.9rem] lg:leading-[2rem];
  }

  .text_regular_body_p {
    @apply font-body text-[0.9rem] font-[300] leading-[26px] text-body-1;
  }

  .text_regular_body_b {
    @apply font-body text-[0.85rem] font-[700] leading-[26px] text-body-1;
  }

  .text_regular_body_sb {
    @apply font-body text-[0.85rem] font-[600] leading-[26px] -tracking-[0.28px] text-body-1;
  }
  .text_small_body_sb {
    @apply font-body text-[0.7rem] font-[600] leading-[24px] -tracking-[0.28px] text-body-1;
  }

  .text_small_body_p {
    @apply font-body text-[0.8rem] font-[300] leading-[22px] text-body-2;
  }
  .text_small_body_r {
    @apply font-body text-[0.75rem] font-[400] leading-[1.3rem] text-body-2;
  }

  .text_tiny_body_r {
    @apply font-body text-[0.75rem] font-[300] leading-normal text-body-2;
  }

  .text-form-label {
    @apply font-body !text-[.8rem] font-[300] leading-[2rem] text-black;
  }

  .footerlink_header {
    @apply text-center font-sub-title text-[1rem] leading-[18.6px] text-white lg:text-start;
  }

  .footerlink_sub {
    @apply text-center font-body text-[0.9rem] text-[rgba(255,_255,_255,_0.8)] hover:text-white lg:text-start;
  }
  .contactlink_sub {
    @apply font-body text-[0.9rem] text-body-1 hover:text-black;
  }

  .safearea-top {
    @apply mt-[16vh] lg:mt-[18vh];
  }

  /* Stepper component styling */

  .steps-container {
    @apply flex w-full;
  }

  .step {
    @apply relative w-full cursor-default;
  }

  .step .line {
    height: 0px;
    border-width: 0.5px;
    border-style: solid;
    position: absolute;
    left: -4rem;
    width: calc(100%);
    z-index: 10;
    @apply top-2.5;
  }

  .step .circle {
    @apply z-20 h-6 w-6 rounded-full bg-white text-white;
  }

  .step-active .circle {
    @apply relative border-[.43px] border-[#C4C4C4] bg-white text-white;
  }

  .step-active .circle::after {
    content: "";
    @apply absolute left-1/2 top-1/2 z-[15] h-4 w-4 -translate-x-1/2 -translate-y-1/2 transform rounded-full bg-accent;
  }

  .step-done .circle {
    @apply z-20 bg-accent;
  }

  .step-inactive .circle {
    @apply border-[.43px] border-[#C4C4C4] bg-white;
  }

  .step-active .label {
    @apply text_tiny_body_r font-[700];
  }

  .step-done .label {
    @apply text_tiny_body_r font-[700];
  }

  .step-inactive .label {
    @apply text_tiny_body_r font-[700];
  }

  .step-done .line {
    @apply border-accent;
  }

  .step-inactive .line,
  .step-active .line {
    border-color: #c4c4c4;
  }
}
